*, body, html {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #eaeaea;
    font-family: 'Poppins';
    height: 100vh;
}

.answer {
    display: flex;
    justify-content: center;
}

.container-quiz {
    margin-top: 70px;
    margin-bottom: 30px;
}

.quiz {
    margin: 0 auto;
    width: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quiz > img {
    margin: 0 auto;
}

.quiz > p {
    margin: 20px auto;
}

.container-submit {
    display: flex;
    justify-contenty: center;
    margin: 0 10px;
}

.submit {
    display: flex;
    margin: auto;
}

input {
    width: 200px;
    height: 40px;
    font-size: 25px;
    margin-right: 10px;
    padding: 0 20px 0 20px;
}

button {
    background-color: #000181;
    color: white;
    font-weight: bold;
}