*, body, html {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #eaeaea;
    font-family: 'Poppins';
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.wrapper > img {
    margin-top: 40px;
}

.wrapper > span {
    margin-top: 20px;
    background-color: #FFDD00;
    padding: 8px 70px;
    border: solid gray 1px;
    border-radius: 40px;
    color:#010E14;
    font-weight: bold;
}

.option {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    box-sizing: border-box;
}

.option-link > img {
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 0 50px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.option-link > button {
    width: 140px;
    height: 40px;
    border-radius: 35px;
    margin: 0 5px 0 5px;
}

.answer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-quiz {
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-quiz-2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.container-quiz-3 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.container-quiz-4 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.quiz {
    margin: 0 auto;
    width: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quiz > img {
    margin: 0 auto;
}

.quiz > p {
    margin: 20px auto;
    text-align: center;
}

.container-submit {
    display: flex;
    justify-contenty: center;
    margin: 0 10px;
}

.container-submit-2 {
    display: flex;
    justify-contenty: center;
    margin: 120px 5px 0 5px;
}

.submit {
    display: flex;
    margin: auto;
}

input {
    width: 200px;
    height: 40px;
    font-size: 25px;
    margin-right: 10px;
    padding: 0 20px 0 20px;
}

button {
    background-color: #000181;
    color: white;
    font-weight: bold;
}

.quiz-level-2 {
    margin: 0 auto;
    width: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quiz-level-2 > img {
    margin: 0 auto;
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.quiz-level-2 > p {
    margin: 20px auto;
}

.container-home {
    display: flex;
    justify-content: center;
}

.home {
    width: 380px;
    display: flex;
    position: relative;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home > button {
    width: 80px;
    height: 30px;
    border-radius: 25px;
    margin: auto;
}

.home > button > a{
    color: white;
    text-decoration: none;
}

.home > a > img {
    display: flex;
    justify-content: center;
    width: 30px;
    padding: 0 35px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.home > span {
    display: flex;
    padding-right: 35px;
    font-weight: bold;
    margin-top: 10px;
}


/* Level 2 */

.home {
    width: 380px;
    display: flex;
    position: relative;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home > a > img {
    display: flex;
    justify-content: center;
    width: 30px;
    padding: 0 35px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.right-home {
    display: flex;
    align-items: center;
}

.right-home > a > img {
    display: flex;
    padding-right: 15px;
    margin-top: 11px;
}

.right-home > span {
    display: flex;
    padding-right: 35px;
    font-weight: bold;
    margin-top: 10px;
}